.ISSReportingMenuContentContainer {
  display: flex;
  height: calc(100vh - 70px);
  position: relative;
}

.ISSReportingMenuContainer {
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  transition: all 1s;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
}

.ISSReportingMenuContainer.active {
  left: 0;
}

.ISSReportingMenuContainer.inactive {
  left: -300px;
}

.ISSReportingContentContainer {
  background-color: #f7f7f7;
  flex: 1;
}

.subMenuContentTxt {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}
